body{
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(to bottom, #009900 0%, #ffcc00 100%);
}
.code{
    text-align: center;
}
body > h1{
    letter-spacing: 0.5ch;
    text-align: center;
    font-size: 60px;
}
.code > p{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 85%;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
}